.container {
    display: grid;
}

div {
    border: white solid 4px;
}

.container .block {
    padding: 20px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.block.block1 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #a44269;
}

.block.block2 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #7370a2;
}

.block.block3 {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #838ebe;
}

.block.block4 {
    grid-row-start: 2;
    grid-column-start: 3;
    background-color: #aed1d9;
}

.block.block5 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #838ebe;
}

.block.block6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    background-color: #a44269;
}

.block.block7 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    background-color: #7370a2;
}

.block.block8 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    background-color: #838ebe;
}

