body {
    background-color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 1.2em;
}
h1 {
    color: #f7ece1;
    background-color: #012333;
    padding: 30px 0;
    margin: 0 0 30px 0;
}
h2 {
    color: darkslategrey;
}
a {
    text-decoration: none;
    color: #003d5b;
}
ul{
    padding: 0;
}
li {
    margin-bottom: 7px;
    font-weight: bold;
}
section a {
    display: block;
    margin-bottom: 5px;
}
section a:hover {
    color: #012333;
    transform: scale(1.05);
}