body {
    background-color: #5296a5;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
}
h1 {
    background-color: #012333;
    padding: 30px 0;
    margin: 0;
}
h1, h2 {
    color: #f7ece1;
}
section a {
    text-decoration: none;
    color: #003d5b;
}
section ul {
    padding: 0 0;
}
li {
    margin-bottom: 7px;
    font-weight: bold;
}
li:hover {
    transform: scale(1.05);
}
section a:hover {
    color: #012333;
}