body {
    width: 95%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("../images/bgsky3.jpg");
    height: 200px;
    background-size: cover;
    color: darkblue;
    text-align: center;
    position: relative;

}
header p:first-child {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}

header p:nth-child(2){
    font-size: 240%;
    font-weight: bold;
}

header img {
    position: absolute;
    right: 250px;
    bottom: 60px;
}

aside {
    float: right;
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
}

aside h3 {
    color: white;
    text-align: center;
    background-color: blue;
    font-size: 120%;
}

aside p {
    color: #666666;
    font-size: 90%;
    margin: 10px;
}

main {
    width: 75%;
}

main > figure {
    float: left;
    margin: 20px;
}

main article {
    text-align: justify;
    margin: 20px 30px 20px 0;
    overflow: hidden;
}

main .gallery {
    background-color: #999999;
    height: auto;
}

.gallery div {
    display: inline-block;
    margin: 20px;
}

.gallery img {
    width: 180px;
    height: 180px;
    padding: 10px;
    background-color: white;
    border: 1px dashed #999999;
}

.bottom {
    width: 100%;
    background-color: #666666;
    color: white;
    line-height: 2ems;
}

.bottom section {
    display: inline-block;
    margin: 0 0 0 120px;
}

.bottom li {
    margin: 10px 0;
}

.bottom a {
    color: white;
}

.bottom a:hover {
    color: red;
}

footer {
    text-align: center;
}