/* items */
div div {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}
div {
    display: grid;
    border: 10px solid white;
}
/* specific item styles */

.item-1 {
    background: #b03532;
    display: none;
}
.item-2 {
    background: #33a8a5;
    grid-column: 2;

}
.item-3 {
    background: #30997a;
    grid-column: 1/3;
    grid-row: 4;
}
.item-4 {
    background: #6a478f;
    grid-column: 1;

}
.item-5 {
    background: #da6f2b;
}
.item-6 {
    background: #3d8bb1;
    display: none
}
.item-7 {
    background: #e03f3f;
}
.item-8 {
    background: #59a627;
}
.item-9 {
    background: #4464a1;
    grid-column: 1/2;
    grid-row: 1/2;
}

@media (min-width: 760px) {
    div {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .item-1, .item-6 {
        display: block;
    }

    .item-3 {
        grid-row: 1;
        grid-column: 3;
    }

    .item-9 {
        grid-column: 3;
        grid-row: 3;
    }
}