body {
    background-color: #5296a5;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #3a3a3a;
    line-height: 1.6;
    font-size: 1.2em;
}

h1 {
    color: #f7ece1;
    background-color: #012333;
    padding: 30px 0;
    margin: 0 0 30px 0;
}

h1, h2 {
    color: #f7ece1;
}

a {
    text-decoration: none;
    color: #003d5b;
}

section a {
    margin-bottom: 5px;
}

section a:hover {
    color: #012333;
    transform: scale(1.05);
}

ul {
    padding: 0;
}

li {
    margin-bottom: 7px;
    font-weight: bold;
}

strong {
    display: block;
}

.persoonlijk-blok {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: center;
    text-align: left;
}

.persoonlijk-blok ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.persoonlijk-blok img {
    border-radius: 6px;
}

.border {
    max-width: 500px;
    text-align: justify;
    margin: 0 auto;
}

.border ul {
    list-style-type: none;
}

.border strong, .border h2 {
    text-align: center;
}

.intresses a {
    display: block;
}

.intresses li img {
    display: block;
    margin: 10px auto;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #012333;
    color: white;
    font-size: 0.9em;
    line-height: 50px;
}

table {
    width: 75%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    border-collapse: separate;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

thead {
    background: #012333;
    color: white;
}

thead tr th:first-child {
    border-top-left-radius: 20px;
}

thead tr th:last-child {
    border-top-right-radius: 20px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.vrienden table {
    border-collapse: collapse;
    text-align: left;
    width: 75%;
}

.vrienden {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin-bottom: 70px;

}

.vrienden table td, .vrienden table th {
    padding: 14px 10px;
}

.vrienden table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #012333), color-stop(1, #024D70));
    background: -moz-linear-gradient(center top, #012333 5%, #024D70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#012333', endColorstr='#024D70');
    background-color: #012333;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: bold;
    border-left: 0px solid #FFFFFF;
}

.vrienden table thead th:first-child {
    border: none;
}

.vrienden table tbody td {
    background: #fff;
    color: #3A3A3A;
    border-left: 1px solid #EBF9FF;
    font-size: 17px;
    font-weight: normal;
}

.vrienden table tbody .alt td {
    background: #DEDEDE;
    color: #3A3A3A;
}

.vrienden table tbody td:first-child {
    border-left: none;
}

.vrienden table tbody tr:last-child td {
    border-bottom: none;
}
.vrienden table tbody tr.alt td.onbekend, .vrienden table tbody tr td.onbekend {
    background-color: red;
    color: white;
}